{
  "presets": [
    ["es2015", {
        "modules": false
    }],
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-dynamic-import",
    [
      "transform-react-jsx"
    ]
  ]
}
