.a4-paper {
}

.react-grid-item {
    outline: 1px dashed #ccc;

    &.static {
        outline: none;
        user-select: none;
    }

}

.react-resizable-handle,
.react-grid-item>.react-resizable-handle {
    border: 3px solid #999999;
    border-width: 0 3px 3px 0;
    bottom: 2px;
    right: 2px;
}
