@import '../App';
@import '../mixins.scss';

.box {
    &--padding {
        padding: 1rem 2rem;
    }
}

.page {
    &__body {
        &:empty {
            display: none;
        }
        // padding: 2rem 3rem;
    }

    &--has-subheader {
        padding-top: $header-height;
    }
    &--padding {
        padding: $page-padding-sm;
    }
    &__sub-header {
        position: fixed;
        display: flex;
        top: $header-height;
        height: calc(#{$header-height} + 1px);
        left: 0;
        right: 0;
        margin-top: -1px;
        // margin-left: -1px;
        background-color: $bc-light;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        box-shadow: 0 3px 1px rgba(70, 70, 70, 0.09);
        border-bottom: 1px solid #d2d2d2;
        z-index: 3;

        &__controls {
            height: 100%;
            width: 100%;
            padding: 0 $page-padding-side;
            display: flex;
            align-items: center;

            & > .form-group {
                margin-bottom: 0;

                &:not(:first-child) {
                    margin-left: 2rem;
                }
            }

            .tabs {
                margin-top: auto;
            }
        }
    }
    &__controls {
        margin-bottom: 1em;
        display: flex;
        padding: 1em 0 0 1em;
    }
}

@media (min-width: $medium-device) {
    .page {
        &__body {
            padding: $page-padding-md;
        }

        &--padding {
            padding: $page-padding-md;
        }

        &__sub-header {
            left: $sidenav-width;
        }

        &__controls {
            padding: 0;
        }
    }
    .EditProject__form {
        min-width: 36rem;
    }
}

@media #{$sidebar-media-query-sm} {
    .page {
        &__sub-header {
            left: $sidenav-sm-width;
        }
    }
}
