@import '../App.scss';

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    & > .form-group {
        margin: 0;
    }

    &__nav {
        &--short {
            display: inline-block;
        }

        &--long {
            display: none;
        }
    }
}

@media (min-width: $medium-device) {
    .pagination {
        &__nav {
            &--short {
                display: none;
            }
            &--long {
                display: none;
                display: inline-block;
            }
        }
    }
}
