@import '../App';

.tabs {
    display: flex;
    align-items: flex-end;
    // border-bottom: 2px solid #ccc;

    &__controls {
        display: flex;
        // margin-bottom: -2px;

        &__item {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: $bc-primary;
                opacity: 0;
                transition: 0.2s ease opacity;
            }

            &--is-active {
                .btn {
                    color: $bc-primary;
                }

                &:after {
                    opacity: 1;
                }
            }
        }

        &--links {
            .tabs__controls__item .btn {
                padding: 0;

                a {
                    padding: 0.5rem 1.5rem;
                    text-decoration: none;
                    color: $bc-dark;
                }
            }

            .tabs__controls__item--is-active .btn {
                a {
                    color: $bc-primary;
                }
            }
        }
    }

    &__content {
        &__item {
        }
    }
}
