@import '../App';

.tabs {
    display: flex;
    align-items: flex-end;
    // border-bottom: 2px solid #ccc;

    &__controls {
        display: flex;
        // margin-bottom: -2px;

        &__item {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: $bc-primary;
                opacity: 0;
                transition: .2s ease opacity;
            }

            &--is-active {
                .btn {
                    color: $bc-primary;
                }

                &:after {
                    opacity: 1;
                }
            }
        }
    }

    &__content {

        &__item {

        }
    }

}
