@import '../../App.scss';

$table-br: 2px;

$table-heading-padding: .75em 1.25em;
$table-heading-bg-color: #fff;

$table-row-hover-bg-color: #e9e9e9;
$table-cell-br-color: #eee;
$table-cell-padding: 1em 1.25em;

.table-holder {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    box-shadow: 0 1px 3px rgba(70,70,70,.3);
    margin-bottom: 1em;
}

.table {
    color: $bc-dark;
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    text-align: left;

    &__head {

    }

    &__heading {
        font-weight: 700;
        padding: $table-heading-padding;
        background-color: $table-heading-bg-color;
        border-bottom: 1px solid #ddd;

        &:first-child {
            border-top-left-radius: $table-br;
        }

        &:last-child {
            border-top-right-radius: $table-br;
        }
    }

    &__body {
        &--hover {
            .table__row:hover {
                .table__cell {
                    background-color: $table-row-hover-bg-color !important;
                }
            }
        }

        &--condensed {
            .table__cell {
                padding: .5em .75em;
            }
        }

        &--bordered {
            .table__row:first-child {
                .table__cell {
                    border-top-width: 1px;
                }
            }

            .table__cell {
                border-width: 0 1px 1px 0;
            }
        }

        &--striped {
            .table__row:nth-child(odd) {
                .table__cell {
                    background-color: #f9f9f9;
                }
            }
        }

        .table__row:last-child {
            .table__cell:first-child {
                border-bottom-left-radius: $table-br;
            }

            .table__cell:last-child {
                border-bottom-right-radius: $table-br;
            }
        }
    }

    &__row {

        &--active {
            .table__cell {
                background-color: #eee;
            }
        }

        &--clickable {
            cursor: pointer;
        }

    }

    &__cell {
        background-color: #fff;
        padding: $table-cell-padding;
        border-color: $table-cell-br-color;
        border-width: 0 0 1px 0;
        border-style: solid;


    }

    .btn:not(:hover) {
        color: $bc-dark;
        background-color: #eee;
    }


}

.table-row-overlay {
    position: absolute;
    background-color: rgba(255,255,255,.85);
    width: 100%;
    height: 52px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 0;
    opacity: 0;
    transition: .3s ease opacity;

    &--active {
        opacity: 1;
    }
}
