@import '../../mixins.scss';

$padd: .25em 1em;

.dd__input {

}

.dd__item {
    font-size: 16px;
    padding: .75em 1em;

    &:hover {
        cursor: pointer;
    }

    &--highlighted {
        background-color: #eee;
    }
}

.dd__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #fff;
    @include square-shadow;
}
