@import '../../App';

.row {
    &>* {
        flex-grow: 1;
    }
}
.col {
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

}
.flex {
    display: flex;


    & > * {
        flex: 1 1;
    }

    &--center {
        align-items: center;
        justify-content: center;
    }

    &-reverse {
        flex-direction: row-reverse;
    }

    &--column {
        flex-direction: column;

        &.flex--reverse {
            flex-direction: column-reverse;
        }
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;

    }

    &.flex--grid {
        flex-wrap: wrap;


        & > * {
            flex: 0 0 auto;
            padding: 0 .5rem;
            width: 100%;
        }
    }
}
