@import './palette.scss';
@import './utils.scss';

$xs-device: 30rem;
$small-device: 48rem;
$medium-device: 64rem;
$large-device: 80rem;
$xl-device: 90rem;

$br-before-shadow: 1px solid #d2d2d2;
$shadow-after-br: 0 3px 1px rgba(70, 70, 70, 0.09);
$hairline-br: 1px solid #eee;

// $font-family: 'Overpass', -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
// $font-family: 'Source Sans Pro', 'Overpass', -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
// $font-family: AvenirNext, -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
$font-family: Nunito, -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;


$body-bg-color: #f6f7f9;

$header-height: 4rem;

$logo-color: inherit;
$logo-br-right: $hairline-br;
$logo-br-bottom: $hairline-br;

// $sidenav-bg: $bc-dark;
$sidenav-bg: #fcfcfc;
$sidenav-br-right: $br-before-shadow;
$sidenav-width: 16rem;
$sidenav-sm-width: 5rem;
$sidenav-z: 3;
$sidebar-media-query-sm: "(min-width: $medium-device) and (max-width: #{$large-device - .001rem})";


$nav-c: lighten($bc-dark, 30);
$nav-c-active: $bc-fire;
$nav-bg-active: #eee;
$nav-c-hover: $nav-c;
$nav-bg-hover: #eee;

$nav-highlight: darken($bc-light, 5);

$page-padding-side: 3rem;
$page-padding-sm: 0;
$page-padding-md: 2rem $page-padding-side;

$modal-portal-z: 11;


*, *:after, *:before {
    box-sizing: border-box;
}

body {
    color: $bc-earth;
    background-color: $body-bg-color;
    font-family: $font-family;
}

.App {
    height: 100%;
    min-height: 400px;
    padding-top: $header-height;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &--is-clicking {
        .btn {
            outline-width: 0 !important;
        }
    }

    &--is-tabbing {
        .btn:focus {
            outline-width: 1px;
        }
    }

}

.App-flex {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ReactModalPortal {
    position: relative;
    z-index: $modal-portal-z;
}

.App-body {
    // color: #2e3645;
    color: #585A78;
    padding: 0;
    min-height: 100%;

}

@media (min-width: $medium-device) {
   .App-body {
        padding-left: $sidenav-width;
    }
}

@media #{$sidebar-media-query-sm} {
    .App-body {
        padding-left: $sidenav-sm-width;
    }
}

