@import './App';
@import './palette';

$link-padding-sm: 0.7rem 1.2rem;
$link-padding-md: 1.2rem 1.2rem;

.nav {
    // padding-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;

    &__item {
    }

    &__link {
        display: block;
        border-right: 2px solid transparent;
        text-decoration: none;
        color: $nav-c;
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: $link-padding-sm;
        transition: 0.2s ease background-color, 0.2s ease color;
        -webkit-font-smoothing: antialiased;

        &__icon {
            font-size: 1.3rem;
            // margin-top: -3px;
            margin-right: 1rem;
        }

        &__bg {
            display: inline-block;
            padding: 2px 4px;
            padding-top: 5px;
            position: relative; //   &:before {
            //     content: '';
            //     position: absolute;
            //     bottom: 2px;
            //     height: 8px;
            //     left: -1px;
            //     right: -1px;
            //     background-color: rgba($bc-fire, .3);
            //     transform: scaleX(0);
            //     transition: .2s ease transform;
            //     transform-origin: left;
            //   }
        }
        &:hover {
            color: $nav-c-hover;
            // background-color: rgb(57, 66, 84);
            background-color: $nav-bg-hover;

            //   .App-sidenav__link__bg:before {
            //     transform: scaleX(1);
            //   }
        }
        &--active,
        &--active:hover {
            // color: $bc-dark;
            // background-color: $bc-warning;

            color: $nav-c-active;
            background-color: $nav-bg-active;
            border-color: $bc-dark;

            // color: $bc-warning;
            // background-color: #566177;
        }
    }

    &__sub {
        display: none;
        padding-left: 1.2rem;
        background-color: $bc-warning;

        &__link {
            display: block;
            color: $bc-dark;
            padding: 1em;
        }
    }
}

.nav__link--active + .nav__sub {
    display: block;
}

@media #{$sidebar-media-query-sm} {
    .nav {
        transform: none;
        opacity: 1;

        &__link {
            text-align: center;

            &__bg {
                padding: 0.5rem 0 !important;
            }

            &__icon {
                font-size: 1.65rem;
                margin: 0;
            }

            &__text {
                display: none;
            }

            padding: $link-padding-md;
        }
    }
}

@media (min-width: $large-device) {
    .nav__link {
        padding: $link-padding-md;
    }
}
