@import './App';
@import './palette';

$link-padding-sm: .7rem 1.2rem;
$link-padding-md: 1rem 1.2rem;

.nav {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;

    &__item {

    }

    &__link {
        display: block;
        text-decoration: none;
        color: lighten($bc-dark, 35);
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: $link-padding-sm;
        transition: .2s ease background-color, .2s ease color;


        &__icon {
            font-size: 1.4rem;
            margin-top: -3px;
            margin-right: 1rem;
        }

        &__bg {
            display: inline-block;
            padding: 2px 4px;
            padding-top: 5px;
            position: relative; //   &:before {
            //     content: '';
            //     position: absolute;
            //     bottom: 2px;
            //     height: 8px;
            //     left: -1px;
            //     right: -1px;
            //     background-color: rgba($bc-fire, .3);
            //     transform: scaleX(0);
            //     transition: .2s ease transform;
            //     transform-origin: left;
            //   }
        }
        &:hover {
            color: #fff;
            background-color: rgb(57, 66, 84); //   .App-sidenav__link__bg:before {
            //     transform: scaleX(1);
            //   }
        }
        &--active,
        &--active:hover {
            // color: $bc-dark;
            // background-color: $bc-warning;

            color: $bc-warning;
            background-color: #566177;
        }
    }


    &__sub {
        display: none;
        padding-left: 1.2rem;
        background-color: $bc-warning;

        &__link {
            display: block;
            color: $bc-dark;
            padding: 1em;
        }
    }
}

.nav__link--active + .nav__sub {
    display: block;
}


@media (min-width: $medium-device) {
    .nav {
        transform: none;
        opacity: 1;

        &__link {
            padding: $link-padding-md;
        }
    }
}

