/* Coolors Exported Palette - coolors.co/fcfcfc-303036-e8606e-424b54-6b7fd7 */

/* HSL */
$color1: hsla(0%, 0%, 99%, 1);
$color2: hsla(240%, 6%, 20%, 1);
$color3: hsla(354%, 75%, 64%, 1);
$color4: hsla(210%, 12%, 29%, 1);
$color5: hsla(229%, 57%, 63%, 1);

/* RGB */
$bc-light: rgba(252, 252, 252, 1);
$bc-dark: #2E3645;
// $bc-fire: rgba(232, 96, 110, 1);
// $bc-fire: #F68355;
$bc-fire: #FF7043;
// $bc-earth: rgba(66, 75, 84, 1);
$bc-earth: #585A78;
$bc-water: rgba(107, 127, 215, 1);

$bc-primary: #42a5f5;
$bc-danger: $bc-fire;
$bc-warning: #FFD54F;
