@import '../../App.scss';

.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(#2E3645, 0.75);

    &--after-open {
        .ReactModal__Content {
            transform: none;
        }
    }

    &--before-close {
        opacity: 0;
        transition: .3s ease opacity;

        .ReactModal__Content {
            transform: translate3d(100%, 0, 0) !important;
            transition: .3s ease transform;
        }
    }
}

.ReactModal__Content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    outline: none;
    padding: 20px;
    transform: translate3d(100%, 0, 0);
    transition: .3s ease transform;
}

.ReactModal__Overlay--after-open {
    .ReactModal__Content {
        transform: none;
    }
}

@media (min-width: $medium-device) {
    .ReactModal__Content {
        width: auto;
    }
}
